/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: Helvetica;
   margin-left: 2em;
 }

 #link {
   text-align:center;
 }

 #link > a {
   text-decoration: none;
   color: blue;
 }



 #link > a:visited {
   text-decoration: none;
   color: lightseagreen;
 }

 #answer {
   background-color: lightyellow;
   box-shadow: -10px 0px lightgray;
 }

 #question {
   box-shadow: -10px 0px lightgray;
   font-weight: lighter;
 }

 #askform {
  padding: 2em;
  margin-right: 0px;
  border-right: 0px;
  box-shadow: 2px 2px 3px grey;
  width:60%;
 }

 #askbutton{
   background-color: royalblue;
   margin-left: 0px;
   border-left: 0px;
   padding: 2em;
   font-weight: bold;
   color: white;
   border-radius: 0em 1em 1em 0em;
   box-shadow: 2px 2px 3px grey;
   position: absolute;
 }

 #askbutton:hover {
   background-color: slateblue;
   cursor: grab;
 }
